acl-templates-repo/.idea
acl-templates-repo/alf_data_dev
acl-templates-repo/target
.idea
acl-templates-common/target
*.log
alf_data_dev
integration-tests/target
target
*.project
*.classpath
/.settings/
/integration-tests/.settings/
